<%
	@menu_items = [
		{ :label => 'Users', :controller => 'users' },
		{ :label => 'Public Tracks', :controller => 'tracks', :action => 'public_tracks' },
		{ :label => 'My Tracks', :controller => 'tracks', :action => 'index' },
		{ :label => 'My Friendships', :controller => 'friendships' },
	]
%>
<ul class="menu">
	<% @menu_items.each do |menu| %>
		<% is_active = menu[:controller] == params[:controller] && (menu[:action].blank? || menu[:action] == params[:action]) %>
		<li class="<%= is_active ? 'active' : '' %>"><%= link_to menu[:label], menu.except(:label) %></li>
	<% end %>
</ul>
<div class="clear"></div>