<%
	@menu_items = [
		{ :label => 'Users', :controller => 'users' },
		{ :label => 'Tracks', :controller => 'tracks' },
		{ :label => 'Friendships', :controller => 'friendships' }
	]
%>
<ul class="menu">
	<% @menu_items.each do |menu| %>
		<li class="<%= menu[:controller] == params[:controller] ? 'active' : '' %>"><%= link_to menu[:label], :controller => menu[:controller] %></li>
	<% end %>
</ul>
<div class="clear"></div>